<!DOCTYPE html>
<html>

<head>
  <title>Joke</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
  <h1> <a href="/quote"> Want to read a Anime Quote?</a></h1>
  <div class="card">
    <div>
      <p>
        Character: <%= character %>    
      </p>
      <p>
        Anime: <%= anime %>
      </p>
      <p>
        <%= quote%>
      </p>
    </div>
  </div>
</body>

</html>